# Build çıktıları
bin/
obj/

# Kullanıcı ayar dosyaları
*.user
*.swp
*.suo
*.dbmdl
*.log

# Paketler
*.nupkg
*.snupkg
packages/
node_modules/
npm-debug.log
yarn-error.log

# IDE klasörleri
.vs/
.idea/

# Git dosyaları
.git/
.gitignore

# Docker ile ilgili gereksiz dosyalar
Dockerfile.*
docker-compose.*

# Sistem dosyaları
Thumbs.db
.DS_Store
